$primary-color: #3B82F6;
$primary-color-dark: #2563EB;

$text-color: #333;
$text-color-light: #6B7280;

$background-color: #f9fafb;
$card-background: #ffffff;
$border-color: #dee2e6;

$font-family: 'Inter', sans-serif;
$danger-color: #EF4444;

$border-radius: 0.5rem;
